{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/favicon/favicon.ico" sizes="48x48" />
    <link
      rel="icon"
      href="assets/favicon/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="apple-touch-icon" href="assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />

    <title>Go Repos</title>

    <link rel="stylesheet" href="assets/css/output.css" />
    <link rel="stylesheet" href="assets/css/index.css" />

    <script
      defer
      src="https://umami.coolify.glup3.dev/script.js"
      data-website-id="9fe69703-0a24-4dee-a1be-f66f683947fd"
    ></script>
    <script
      defer
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-gray-50 text-gray-900 font-sans">
    <main class="mx-auto max-w-6xl p-6">
      <h1 class="text-4xl font-bold mb-8">Go Repos</h1>

      <section>
        <div class="flex justify-between items-center mb-2">
          <h2 class="text-xl font-bold">Featured Repositories</h2>

          <button
            hx-get="/repos/discover"
            hx-target="#discover"
            hx-swap="innerHTML"
            hx-indicator="#discover"
            data-umami-event="discover-button"
          >
            Discover
          </button>
        </div>

        <div
          id="discover"
          class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] grid-rows-auto gap-5 my-indicator"
        >
          {{ template "items" .DiscoveryRepos }}
        </div>
      </section>
    </main>
  </body>

  <script>
    document.addEventListener("htmx:afterSwap", () => {
      document.querySelectorAll("#discover > div").forEach((item, index) => {
        item.style.opacity = "0";
        item.style.transform = "translateY(10px)";
        setTimeout(() => {
          item.style.transition =
            "opacity 0.3s ease-out, transform 0.3s ease-out";
          item.style.opacity = "1";
          item.style.transform = "translateY(0)";
        }, index * 10); // Stagger delay for each item
      });
    });
  </script>
</html>
{{ end }}

<!-- formatter divider -->

{{ define "items" }} {{range .}}
<div
  class="flex flex-col space-y-2 bg-white shadow-sm rounded-lg p-5 hover:shadow-md transition-all duration-300 ease-in-out hover:scale-105"
>
  <div class="flex items-center">
    <img
      src="{{ .AvatarURL }}"
      height="32"
      width="32"
      alt="logo of repo owner for {{ .FullName }}"
      class="mr-2 rounded-full"
    />
    <a
      href="https://github.com/{{ .FullName }}"
      target="_blank"
      rel="_noopener"
      data-umami-event="github-link"
      data-umami-event-repo="{{ .FullName }}"
      class="font-semibold text-lg text-blue-600 truncate hover:underline"
    >
      {{ .FullName }}
    </a>
  </div>

  <div class="line-clamp-2 text-sm mt-2 text-gray-700">{{ .Description }}</div>

  <div class="mt-auto flex items-center gap-4 text-xs text-gray-700 pt-3">
    <span>
      <span
        class="inline-block rounded-full bg-[#00ADD8] size-2 border-1 border-[#ffffff26]"
      ></span>
      <span>Go</span>
    </span>

    <span>⭐ {{ formatStars .StargazersCount }}</span>

    <span class="truncate">{{ .LicenseSpdxID}}</span>
  </div>
</div>
{{end}} {{end}}
