{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/favicon/favicon.ico" sizes="48x48" />
    <link
      rel="icon"
      href="assets/favicon/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="apple-touch-icon" href="assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />

    <title>Go Repos</title>

    <link rel="stylesheet" href="assets/css/output.css" />
    <link rel="stylesheet" href="assets/css/index.css" />

    <script
      defer
      src="https://umami.coolify.glup3.dev/script.js"
      data-website-id="9fe69703-0a24-4dee-a1be-f66f683947fd"
    ></script>
    <script
      defer
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-gray-50 text-gray-900 font-sans">
    <header class="py-6 px-6 mx-auto max-w-6xl">
      <div class="flex items-center justify-between">
        <a href="/" class="flex items-center gap-2">
          <img
            src="/assets/logo.svg"
            alt="go repos logo"
            class="size-8 rounded"
          />
          <span class="font-bold text-lg">Go Repos</span>
        </a>

        <div class="flex items-center gap-6">
          <a
            href="https://github.com/Glup3/gorepos/issues"
            class="font-semibold"
            target="_blank"
            rel="_noopener"
          >
            Feedback
          </a>

          <a
            aria-label="GitHub repository"
            href="https://github.com/Glup3/gorepos"
            target="_blank"
            rel="_noopener"
          >
            <svg viewBox="0 0 20 20" class="size-5 fill-black">
              <path
                d="M10 0C4.475 0 0 4.475 0 10a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.287-.6-1.175-1.025-1.412-.35-.188-.85-.65-.013-.663.788-.013 1.35.725 1.538 1.025.9 1.512 2.337 1.087 2.912.825.088-.65.35-1.088.638-1.338-2.225-.25-4.55-1.112-4.55-4.937 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.274.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0020 10c0-5.525-4.475-10-10-10z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </header>

    <main class="mx-auto max-w-6xl px-6 pb-6">
      <section>
        <div class="flex justify-between items-center gap-2 mb-6">
          <h2 class="text-3xl font-bold">Featured Repositories</h2>

          <button
            hx-get="/repos/discover"
            hx-target="#discover"
            hx-swap="innerHTML"
            hx-indicator="#discover"
            data-umami-event="discover-button"
            class="cursor-pointer px-5 py-2.5 bg-white/10 backdrop-blur-md text-gray-900 font-medium rounded-lg border border-gray-300 hover:bg-gray-200 hover:border-gray-300 focus:ring-1 focus:ring-gray-300 focus:ring-opacity-50 transition-all duration-300"
          >
            🔍 Discover
          </button>
        </div>

        <div
          id="discover"
          class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] grid-rows-auto gap-5 my-indicator"
        >
          {{ template "items" .DiscoveryRepos }}
        </div>
      </section>
    </main>
  </body>

  <script>
    document.addEventListener("htmx:afterSwap", () => {
      document.querySelectorAll("#discover > div").forEach((item, index) => {
        item.style.opacity = "0";
        item.style.transform = "translateY(10px)";
        setTimeout(() => {
          item.style.transition =
            "opacity 0.3s ease-out, transform 0.3s ease-out";
          item.style.opacity = "1";
          item.style.transform = "translateY(0)";
        }, index * 10); // Stagger delay for each item
      });
    });
  </script>
</html>
{{ end }}

<!-- formatter divider -->

{{ define "items" }} {{range .}}
<div
  class="flex flex-col space-y-2 bg-white shadow-sm rounded-lg p-5 hover:shadow-md transition-all duration-300 ease-in-out hover:scale-105"
>
  <div class="flex items-center">
    <img
      src="{{ .AvatarURL }}"
      height="32"
      width="32"
      alt="logo of repo owner for {{ .FullName }}"
      class="mr-2 rounded-full"
    />
    <a
      href="https://github.com/{{ .FullName }}"
      target="_blank"
      rel="_noopener"
      data-umami-event="github-link"
      data-umami-event-repo="{{ .FullName }}"
      class="font-semibold text-lg text-blue-600 truncate hover:underline"
    >
      {{ .FullName }}
    </a>
  </div>

  <div class="line-clamp-2 text-sm mt-2 text-gray-700">{{ .Description }}</div>

  <div class="mt-auto flex items-center gap-4 text-xs text-gray-700 pt-3">
    <span>
      <span
        class="inline-block rounded-full bg-[#00ADD8] size-2 border-1 border-[#ffffff26]"
      ></span>
      <span>Go</span>
    </span>

    <span>⭐ {{ formatStars .StargazersCount }}</span>

    <span class="truncate">{{ .LicenseSpdxID}}</span>
  </div>
</div>
{{end}} {{end}}
