{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ditto</title>
    <script
      defer
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/output.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    <main class="mx-auto max-w-6xl p-4 space-y-8">
      <h1 class="text-4xl font-bold">Ditto</h1>

      <section>
        <div class="flex justify-between items-center mb-2">
          <h2 class="text-xl font-bold">Featured Repositories</h2>

          <button
            hx-get="/repos/discover"
            hx-target="#discover"
            hx-swap="innerHTML"
            hx-indicator="#discover"
          >
            Discover
          </button>
        </div>

        <div
          id="discover"
          class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] grid-rows-auto gap-4 my-indicator"
        >
          {{ template "items" .DiscoveryRepos }}
        </div>
      </section>
    </main>
  </body>
</html>
{{ end }}

<!-- formatter divider -->

{{ define "items" }} {{range .}}
<div class="flex flex-col space-y-2 rounded-lg border-2 border-slate-600 p-2">
  <div class="flex items-center">
    <img
      src="{{ .AvatarURL }}"
      height="32"
      width="32"
      alt="logo of repo owner for {{ .FullName }}"
      class="mr-2 rounded-full"
    />
    <a
      href="https://github.com/{{ .FullName }}"
      target="_blank"
      rel="_noopener"
      class="font-bold text-blue-600 truncate hover:underline"
    >
      {{ .FullName }}
    </a>
  </div>

  <div class="line-clamp-2 text-sm">{{ .Description }}</div>

  <div class="mt-auto flex items-center gap-4 text-sm">
    <span>
      <span
        class="inline-block rounded-full bg-[#00ADD8] size-3 border-1 border-[#ffffff26]"
      ></span>
      <span>Go</span>
    </span>

    <span>⭐ {{ formatStars .StargazersCount }}</span>

    <span class="truncate">{{ .LicenseSpdxID}}</span>
  </div>
</div>
{{end}} {{end}}
